# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
.venv
*.egg-info/
dist/
build/

# Flask / Backend
instance/
*.db
*.sqlite

# Node / Frontend
node_modules/
npm-debug.log
yarn-error.log
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Secrets
*.env